In [1]:
import dataprofiler
from ydata_profiling import ProfileReport
import pandas as pd
import json

In [2]:
df = pd.read_csv('census.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlgt           32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.tail()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
df.describe()

,age,fnlgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
profile = dataprofiler.Profiler(df)

INFO:DataProfiler.profilers.profile_builder: Finding the Null values in the columns...

/home/swatts/miniconda3/envs/notebook/lib/python3.10/site-packages/dataprofiler/profilers/profile_builder.py:757: RuntimeWarning:

!!! WARNING Partial Profiler Failure !!!

Profiling Type: data_labeler
Exception: ModuleNotFoundError
Message: No module named 'tensorflow'

For labeler errors, try installing the extra ml requirements via:

$ pip install dataprofiler[ml] --user


  profiler_utils.warn_on_profile("data_labeler", e)
/home/swatts/miniconda3/envs/notebook/lib/python3.10/site-packages/dataprofiler/profilers/profile_builder.py:2903: UserWarning: The data will be profiled with a sample size of 6512. All statistics will be based on this subsample and not the whole dataset.
  warnings.warn(
100%|██████████████████████████████████████████████████████████████████████████████████| 15/15 [00:00<00:00, 109.31it/s]

INFO:DataProfiler.profilers.profile_builder: Calculating the statistics...

100%|███████████████████████████████████████████████████████████████████████████████████| 15/15 [00:01<00:00, 13.49it/s]

In [8]:
readable_report = profile.report(report_options={"output_format": "pretty"})

In [9]:
print(json.dumps(readable_report, indent=4))

{
    "global_stats": {
        "samples_used": 6512,
        "column_count": 15,
        "row_count": 32561,
        "row_has_null_ratio": 0.0,
        "row_is_null_ratio": 0.0,
        "unique_row_ratio": 0.9993,
        "duplicate_row_count": 24,
        "file_type": "<class 'pandas.core.frame.DataFrame'>",
        "encoding": null,
        "correlation_matrix": null,
        "chi2_matrix": "[[ 1.,  0., nan,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,\n   0.], ... , [ 0.,  0., nan,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,\n   1.]]",
        "profile_schema": {
            "age": [
                0
            ],
            "workclass": [
                1
            ],
            "fnlgt": [
                2
            ],
            "education": [
                3
            ],
            "education-num": [
                4
            ],
            "marital-status": [
                5
            ],
            "occupation": [
                6
            ],
            "relationship": [
                7
            ],
            "race": [
                8
            ],
            "sex": [
                9
            ],
            "capital-gain": [
                10
            ],
            "capital-loss": [
                11
            ],
            "hours-per-week": [
                12
            ],
            "native-country": [
                13
            ],
            "salary": [
                14
            ]
        },
        "times": {
            "row_stats": 0.0241
        }
    },
    "data_stats": [
        {
            "column_name": "age",
            "data_type": "int",
            "categorical": true,
            "order": "random",
            "samples": "['64', '46', '38', '31', '41']",
            "statistics": {
                "min": 17.0,
                "max": 90.0,
                "mode": "[36.0165]",
                "median": 36.9653,
                "sum": 252224.0,
                "mean": 38.7322,
                "variance": 191.1422,
                "stddev": 13.8254,
                "skewness": 0.5397,
                "kurtosis": -0.2477,
                "histogram": {
                    "bin_edges": "[17.        , 19.08571429, ... , 87.91428571, 90.        ]",
                    "bin_counts": "[365., 276., 334., 315., 314., ... , 12.,  4.,  1.,  0.,  8.]"
                },
                "quantiles": {
                    "0": 27.9597,
                    "1": 36.9653,
                    "2": 47.9923
                },
                "median_abs_deviation": 10.0051,
                "num_zeros": 0,
                "num_negatives": 0,
                "times": {
                    "min": 0.0001,
                    "max": 0.0,
                    "sum": 0.0001,
                    "variance": 0.0002,
                    "skewness": 0.001,
                    "kurtosis": 0.0009,
                    "histogram_and_quantiles": 0.0037,
                    "num_zeros": 0.0002,
                    "num_negatives": 0.0001
                },
                "unique_count": 69,
                "unique_ratio": 0.0106,
                "categories": "['36', '31', '28', '23', ... , '82', '78', '84', '83']",
                "gini_impurity": 0.9788,
                "unalikeability": 0.979,
                "categorical_count": {
                    "36": 194,
                    "31": 188,
                    "28": 181,
                    "23": 180,
                    "33": 179,
                    "34": 177,
                    "35": 175,
                    "27": 174,
                    "37": 173,
                    "42": 164,
                    "39": 163,
                    "19": 162,
                    "25": 160,
                    "29": 159,
                    "32": 157,
                    "30": 156,
                    "41": 156,
                    "24": 155,
                    "43": 155,
                    "22": 154,
                    "40": 150,
                    "47": 142,
                    "46": 141,
                    "44": 141,
                    "26": 140,
                    "21": 138,
                    "20": 138,
                    "45": 137,
                    "38": 134,
                    "51": 121,
                    "49": 120,
                    "18": 118,
                    "50": 115,
                    "48": 105,
                    "55": 94,
                    "52": 94,
                    "53": 93,
                    "56": 92,
                    "17": 85,
                    "58": 79,
                    "54": 79,
                    "59": 76,
                    "57": 65,
                    "61": 62,
                    "60": 58,
                    "62": 55,
                    "63": 51,
                    "65": 44,
                    "64": 38,
                    "66": 37,
                    "67": 29,
                    "70": 24,
                    "71": 21,
                    "69": 21,
                    "73": 18,
                    "68": 17,
                    "75": 14,
                    "72": 10,
                    "79": 8,
                    "90": 8,
                    "76": 8,
                    "74": 7,
                    "80": 6,
                    "81": 6,
                    "77": 4,
                    "82": 3,
                    "78": 2,
                    "84": 1,
                    "83": 1
                },
                "sample_size": 6512,
                "null_count": 0,
                "null_types": [],
                "null_types_index": {},
                "data_type_representation": {
                    "datetime": 0.0,
                    "int": 1.0,
                    "float": 1.0,
                    "string": 1.0
                }
            }
        },
        {
            "column_name": "workclass",
            "data_type": "string",
            "categorical": true,
            "order": "random",
            "samples": "['?', '?', 'Private', 'Private', 'Private']",
            "statistics": {
                "min": 1.0,
                "max": 16.0,
                "mode": "[7.0075]",
                "median": 7.0096,
                "sum": 51489.0,
                "mean": 7.9068,
                "variance": 9.9706,
                "stddev": 3.1576,
                "skewness": 0.8974,
                "kurtosis": 2.1692,
                "histogram": {
                    "bin_edges": "[1.        , 1.21126761, ... , 15.78873239, 16.        ]",
                    "bin_counts": "[389.,   0.,   0.,   0., ... ,   0.,   0.,   0., 553.]"
                },
                "quantiles": {
                    "0": 7.0042,
                    "1": 7.0096,
                    "2": 8.9955
                },
                "median_abs_deviation": 0.0055,
                "times": {
                    "vocab": 0.0008,
                    "min": 0.0002,
                    "max": 0.0001,
                    "sum": 0.0001,
                    "variance": 0.0002,
                    "skewness": 0.0013,
                    "kurtosis": 0.0008,
                    "histogram_and_quantiles": 0.0016
                },
                "vocab": "['L', 't', 'r', 'W', 'n', ... , 'c', 'm', 'g', 'F', 'd']",
                "unique_count": 8,
                "unique_ratio": 0.0012,
                "categories": "['Private', 'Self-emp-not-inc', ... , 'Federal-gov', 'Without-pay']",
                "gini_impurity": 0.51,
                "unalikeability": 0.5101,
                "categorical_count": {
                    "Private": 4471,
                    "Self-emp-not-inc": 553,
                    "Local-gov": 413,
                    "?": 389,
                    "State-gov": 270,
                    "Self-emp-inc": 232,
                    "Federal-gov": 182,
                    "Without-pay": 2
                },
                "sample_size": 6512,
                "null_count": 0,
                "null_types": [],
                "null_types_index": {},
                "data_type_representation": {
                    "datetime": 0.0,
                    "int": 0.0,
                    "float": 0.0,
                    "string": 1.0
                }
            }
        },
        {
            "column_name": "fnlgt",
            "data_type": "int",
            "categorical": false,
            "order": "random",
            "samples": "['194290', '253741', '111567', '175509', '103358']",
            "statistics": {
                "min": 12285.0,
                "max": 1484705.0,
                "mode": "[191184.03]",
                "median": 178884.9924,
                "sum": 1226279060.0,
                "mean": 188310.6665,
                "variance": 10972158646.2979,
                "stddev": 104748.0723,
                "skewness": 1.4855,
                "kurtosis": 7.2915,
                "histogram": {
                    "bin_edges": "[12285.        , 25088.65217391, ... , 1471901.34782609, 1484705.        ]",
                    "bin_counts": "[ 47., 273., 177., 152., 140., ... , 0., 0., 0., 0., 1.]"
                },
                "quantiles": {
                    "0": 116721.6471,
                    "1": 178884.9924,
                    "2": 236191.0013
                },
                "median_abs_deviation": 60226.3733,
                "num_zeros": 0,
                "num_negatives": 0,
                "times": {
                    "min": 0.0001,
                    "max": 0.0,
                    "sum": 0.0001,
                    "variance": 0.0001,
                    "skewness": 0.0012,
                    "kurtosis": 0.001,
                    "histogram_and_quantiles": 0.0025,
                    "num_zeros": 0.0001,
                    "num_negatives": 0.0001
                },
                "unique_count": 5817,
                "unique_ratio": 0.8933,
                "sample_size": 6512,
                "null_count": 0,
                "null_types": [],
                "null_types_index": {},
                "data_type_representation": {
                    "datetime": 0.7165,
                    "int": 1.0,
                    "float": 1.0,
                    "string": 1.0
                }
            }
        },
        {
            "column_name": "education",
            "data_type": "string",
            "categorical": true,
            "order": "random",
            "samples": "['Some-college', '7th-8th', 'Some-college', 'Masters', 'Some-college']",
            "statistics": {
                "min": 3.0,
                "max": 12.0,
                "mode": "[7.0005]",
                "median": 7.0049,
                "sum": 54745.0,
                "mean": 8.4068,
                "variance": 6.1102,
                "stddev": 2.4719,
                "skewness": -0.0221,
                "kurtosis": -0.6723,
                "histogram": {
                    "bin_edges": "[3.        , 3.31034483, ... , 11.68965517, 12.        ]",
                    "bin_counts": "[120.,   0.,   0., 542., ... ,  121.,    0.,    0., 1448.]"
                },
                "quantiles": {
                    "0": 6.9993,
                    "1": 7.0049,
                    "2": 9.9996
                },
                "median_abs_deviation": 1.9931,
                "times": {
                    "vocab": 0.0008,
                    "min": 0.0001,
                    "max": 0.0002,
                    "sum": 0.0001,
                    "variance": 0.0005,
                    "skewness": 0.001,
                    "kurtosis": 0.001,
                    "histogram_and_quantiles": 0.0025
                },
                "vocab": "['t', 'r', '4', 'S', '9', ... , 'g', '1', 'B', 'd', 'H']",
                "unique_count": 16,
                "unique_ratio": 0.0025,
                "categories": "['HS-grad', 'Some-college', ... , '1st-4th', 'Preschool']",
                "gini_impurity": 0.8122,
                "unalikeability": 0.8123,
                "categorical_count": {
                    "HS-grad": 2070,
                    "Some-college": 1448,
                    "Bachelors": 1085,
                    "Masters": 342,
                    "Assoc-voc": 271,
                    "11th": 264,
                    "Assoc-acdm": 217,
                    "10th": 195,
                    "Prof-school": 121,
                    "9th": 120,
                    "7th-8th": 119,
                    "12th": 83,
                    "Doctorate": 80,
                    "5th-6th": 54,
                    "1st-4th": 33,
                    "Preschool": 10
                },
                "sample_size": 6512,
                "null_count": 0,
                "null_types": [],
                "null_types_index": {},
                "data_type_representation": {
                    "datetime": 0.0,
                    "int": 0.0,
                    "float": 0.0,
                    "string": 1.0
                }
            }
        },
        {
            "column_name": "education-num",
            "data_type": "int",
            "categorical": true,
            "order": "random",
            "samples": "['9', '10', '7', '13', '9']",
            "statistics": {
                "min": 1.0,
                "max": 16.0,
                "mode": "[9.0025]",
                "median": 10.0032,
                "sum": 65679.0,
                "mean": 10.0858,
                "variance": 6.6016,
                "stddev": 2.5694,
                "skewness": -0.2829,
                "kurtosis": 0.5319,
                "histogram": {
                    "bin_edges": "[1.        , 1.34090909, ... , 15.65909091, 16.        ]",
                    "bin_counts": "[10.,  0., 33.,  0.,  0., ... ,   0.,   0., 121.,   0.,  80.]"
                },
                "quantiles": {
                    "0": 9.0004,
                    "1": 10.0032,
                    "2": 12.01
                },
                "median_abs_deviation": 1.0043,
                "num_zeros": 0,
                "num_negatives": 0,
                "times": {
                    "min": 0.0001,
                    "max": 0.0,
                    "sum": 0.0001,
                    "variance": 0.0002,
                    "skewness": 0.0012,
                    "kurtosis": 0.001,
                    "histogram_and_quantiles": 0.0024,
                    "num_zeros": 0.0002,
                    "num_negatives": 0.0001
                },
                "unique_count": 16,
                "unique_ratio": 0.0025,
                "categories": "['9', '10', '13', '14', '11', ... , '8', '16', '3', '2', '1']",
                "gini_impurity": 0.8122,
                "unalikeability": 0.8123,
                "categorical_count": {
                    "9": 2070,
                    "10": 1448,
                    "13": 1085,
                    "14": 342,
                    "11": 271,
                    "7": 264,
                    "12": 217,
                    "6": 195,
                    "15": 121,
                    "5": 120,
                    "4": 119,
                    "8": 83,
                    "16": 80,
                    "3": 54,
                    "2": 33,
                    "1": 10
                },
                "sample_size": 6512,
                "null_count": 0,
                "null_types": [],
                "null_types_index": {},
                "data_type_representation": {
                    "datetime": 0.0,
                    "int": 1.0,
                    "float": 1.0,
                    "string": 1.0
                }
            }
        },
        {
            "column_name": "marital-status",
            "data_type": "string",
            "categorical": true,
            "order": "random",
            "samples": "['Divorced', 'Married-civ-spouse', 'Widowed', 'Never-married', 'Divorced']",
            "statistics": {
                "min": 7.0,
                "max": 21.0,
                "mode": "[17.997]",
                "median": 13.0047,
                "sum": 93859.0,
                "mean": 14.4132,
                "variance": 15.1266,
                "stddev": 3.8893,
                "skewness": -0.4917,
                "kurtosis": -1.0603,
                "histogram": {
                    "bin_edges": "[7.        , 7.51851852, ... , 20.48148148, 21.        ]",
                    "bin_counts": "[205., 857.,   0., 202.,   0., ... ,  0.,  0.,  0.,  0., 77.]"
                },
                "quantiles": {
                    "0": 12.9943,
                    "1": 13.0047,
                    "2": 17.9967
                },
                "median_abs_deviation": 4.9893,
                "times": {
                    "vocab": 0.0011,
                    "min": 0.0001,
                    "max": 0.0,
                    "sum": 0.0001,
                    "variance": 0.0001,
                    "skewness": 0.001,
                    "kurtosis": 0.001,
                    "histogram_and_quantiles": 0.0019
                },
                "vocab": "['t', 'r', 'W', 'n', 'S', ... , 's', 'c', 'm', 'F', 'd']",
                "unique_count": 7,
                "unique_ratio": 0.0011,
                "categories": "['Married-civ-spouse', 'Never-married', ... , 'Married-spouse-absent', 'Married-AF-spouse']",
                "gini_impurity": 0.6586,
                "unalikeability": 0.6587,
                "categorical_count": {
                    "Married-civ-spouse": 2978,
                    "Never-married": 2188,
                    "Divorced": 857,
                    "Widowed": 205,
                    "Separated": 202,
                    "Married-spouse-absent": 77,
                    "Married-AF-spouse": 5
                },
                "sample_size": 6512,
                "null_count": 0,
                "null_types": [],
                "null_types_index": {},
                "data_type_representation": {
                    "datetime": 0.0,
                    "int": 0.0,
                    "float": 0.0,
                    "string": 1.0
                }
            }
        },
        {
            "column_name": "occupation",
            "data_type": "string",
            "categorical": true,
            "order": "random",
            "samples": "['Protective-serv', 'Sales', 'Craft-repair', 'Prof-specialty',\n 'Exec-managerial']",
            "statistics": {
                "min": 1.0,
                "max": 17.0,
                "mode": "[12.]",
                "median": 13.0114,
                "sum": 79461.0,
                "mean": 12.2022,
                "variance": 18.3033,
                "stddev": 4.2782,
                "skewness": -1.3608,
                "kurtosis": 0.9335,
                "histogram": {
                    "bin_edges": "[1.  , 1.32, 1.64, 1.96, ... , 16.04, 16.36, 16.68, 17.  ]",
                    "bin_counts": "[389.,   0.,   0.,   0., ... , 343.,   0.,   0., 658.]"
                },
                "quantiles": {
                    "0": 11.9969,
                    "1": 13.0114,
                    "2": 15.0077
                },
                "median_abs_deviation": 1.9895,
                "times": {
                    "vocab": 0.0011,
                    "min": 0.0002,
                    "max": 0.0003,
                    "sum": 0.0001,
                    "variance": 0.0003,
                    "skewness": 0.0011,
                    "kurtosis": 0.0016,
                    "histogram_and_quantiles": 0.0029
                },
                "vocab": "['t', 'r', 'n', 'S', 'x', ... , 'm', 'g', 'F', '?', 'H']",
                "unique_count": 15,
                "unique_ratio": 0.0023,
                "categories": "['Prof-specialty', 'Exec-managerial', ... , 'Priv-house-serv', 'Armed-Forces']",
                "gini_impurity": 0.9031,
                "unalikeability": 0.9032,

In [13]:
profile = ProfileReport(df, title="Profiling Report")

In [14]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/home/swatts/miniconda3/envs/notebook/lib/python3.10/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Bachelors'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

- Dataset has 23 (0.1%) duplicate rows
- Potential feature with capital gain and loss. Lots, of zeros. HasInvestments Yes, No
- Need to check out race and country for imbalances
- 23 duplicate rows check to see if we can drop them

In [24]:
df[df.duplicated()].sort_values(by='age', ascending=True).head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
18698,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
21318,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
21490,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
31993,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
11631,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K

In [27]:
df.drop_duplicates(inplace = True)

In [29]:
len(df[df.duplicated()].sort_values(by='age', ascending=True).head())

0